
<list-module [update]="listNeedUpdate"></list-module>

<add-module (postEvent)="updateList()"></add-module>

<item-module (postEvent)="updateList()"></item-module>
<delete-module (postEvent)="updateList()"></delete-module>
