Voici la liste des filieres :
 <ul>
    <li *ngFor="let filiere of filieres">
        <a [routerLink]="['/itemFiliere', filiere.id]"> {{ filiere.libelle }} </a>
    </li>
</ul>
<router-outlet (deactivate)="updateList()"></router-outlet>
