<h2>Suppression d'un module</h2>


<div>

    <form (submit)="handleSubmit()" #form="ngForm">

        Identifiant du module a supprimer : <input type="number" [(ngModel)]="identifiant" name="identifiant">
        <button type="submit">Suppression</button>
    </form>
</div>
