<h2>Ajout d'un module</h2>
<div>
    <form (submit)="handleSubmit()" #form="ngForm">

        <div>
            <div>
                Libelle : <input  type="text" [(ngModel)]="module.libelle" name="libelle">
            </div>
            <div>
                Date de debut : <input type="date" [(ngModel)]="module.dateDebut"name="dateDebut">
            </div>

            <div>
                Date de fin : <input type="date" [(ngModel)]="module.dateFin" name="dateFin">
            </div>

            <!-- <div>
                Identifiant du formateur : <input type="number" [(ngModel)]="module.formateur" name="formateur">
            </div>

            <div>
                Identifiant de la filiere : <input type="number" [(ngModel)]="module.filiere" name="filiere">
            </div> -->

            <button type="reset">Reset</button>
            <button [disabled]="form.invalid" type="submit">Valider</button>
        </div>

        <div>{{module | json}}</div>

    </form>
</div>