<div>
    <h4>Ajout d'une filière</h4>
    <form (submit)="handleSubmit()" #form="ngForm">
      <input
        #title="ngModel" 
        required 
        name="libelle" 
        type="text" 
        [(ngModel)]="filiere.libelle" 
      />
      <button [disabled]="form.invalid">Enregistrer</button>
    </form>
  </div>