
<h2>Voici la liste des modules</h2>

<div>
    <ul >
        <li *ngFor="let u of ModuleList">

            <a  [routerLink]="['/itemModule', u.id]">{{u.libelle}}</a>
            Du {{u.dateDebut}} au {{u.dateFin}}
            (id : {{u.id}})
            - formateur : {{u.formateur}}
            - filiere : {{u.filiere}}

        </li>


    </ul>

</div>