<h4>Details du Module : {{module.libelle}}</h4>
<form (submit)="handleUpdate()" #form="ngForm">
  Libelle :
  <div>
    Libelle : <input type="text" [(ngModel)]="module.libelle" name="libelle">
  </div>
  <div>
    Date de debut : <input type="date" [(ngModel)]="module.dateDebut" name="dateDebut">
  </div>

  <div>
    Date de fin : <input type="date" [(ngModel)]="module.dateFin" name="dateFin">
  </div>

  <!-- <div>
    Identifiant du formateur : <input type="number" [(ngModel)]="module.formateur" name="formateur">
</div>

<div>
    Identifiant de la filiere : <input type="number" [(ngModel)]="module.filiere" name="filiere">
</div> -->

  <button [disabled]="form.invalid" value="update">Mettre à jour</button>
</form>