<div>
    <h4>Details de la filière : {{filiere.libelle}}</h4>
    <form (submit)="handleUpdate($event)" #form="ngForm">
      Libelle : 
      <input
        #title="ngModel" 
        required 
        name="libelle" 
        type="text" 
        [(ngModel)]="filiere.libelle" 
      /> <br>
      Liste des modules :
      <span *ngIf="filiere.modules.length == 0">
          Aucun
      </span> 
      <ul>
        <li *ngFor="let module of filiere.modules">
            {{ module.libelle }}
        </li>
      </ul>
      Stagiaires inscrits : 
      <span *ngIf="filiere.stagiaires.length == 0">
          Aucun
      </span>
      <ul>
        <li *ngFor="let stagiaire of filiere.stagiaires">
            {{ stagiaire.nom }} {{ stagiaire.prenom }} 
        </li>
      </ul>
      <br>
      <button [disabled]="form.invalid" value="update">Mettre à jour</button>
      <button value="delete"> Supprimer </button>
    </form>
  </div>